In [4]:
import sys #check anaconda version
print (sys.version)

3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

In [5]:
import platform #platform: library
print(platform.python_version()) #py_ver(): method, check python version

3.7.6

In [23]:
z="Mumbai"
print(type(z))

<class 'str'>

In [190]:
y=8/2
type(y)

float

In [27]:
a,b=8,2
c=int(a/b);
print(a, type(a))
print(b, type(b))
print(c, type(c))
print("ASCII Code of A is: ", ord("A"))

8 <class 'int'>
2 <class 'int'>
4 <class 'int'>
ASCII Code of A is:  65

In [37]:
x=7
print(x)
x+=1
print(x)

7
8

<center><h1><i><u> TUPLE TUTORIAL </u></i></h1></center>

In [81]:
# TUPLE Tutorial

tuple1 = (1,2,"Train",True,None,[4,6,"7",8,9])

In [86]:
tuple1[-4:-1]

('Train', True, None)

In [87]:
tuple1[0:-1]

(1, 2, 'Train', True, None)

In [88]:
tuple1[0:]

(1, 2, 'Train', True, None, [4, 6, 8, 9])

In [89]:
tuple1[-1][1:3]

[6, 8]

In [96]:
tuple1[1::2]

(2, True, [4, 6, 8, 9])

In [231]:
tuple1+("Genie",46,3.47)

(1, 2, 'Train', True, None, [4, 6, 8, 9], 'Genie', 46, 3.47)

In [97]:
# print (12, Jack, 45.6, new, [3])

first_tuple = (12,'Jack', 45.6, "new",(3,2,1),'test', True)
for i in range(len(first_tuple)):
    if(type(first_tuple[i])!=tuple):
        print(first_tuple[i])
    else:
        print(first_tuple[i][0])
        break

12
Jack
45.6
new
3

<center><h1><i><u> LIST TUTORIAL </u></i></h1></center>

In [234]:
#LIST Tutorial

list1 = [23,45.0,-45,None,True,(34,45),[46,89,"Name"],"Hello"]
list1

[23, 45.0, -45, None, True, (34, 45), [46, 89, 'Name'], 'Hello']

In [235]:
list1[2]=90
list1

[23, 45.0, 90, None, True, (34, 45), [46, 89, 'Name'], 'Hello']

In [236]:
list1.pop(5)
list1

[23, 45.0, 90, None, True, [46, 89, 'Name'], 'Hello']

In [237]:
list1.append((34, 45))
list1

[23, 45.0, 90, None, True, [46, 89, 'Name'], 'Hello', (34, 45)]

In [238]:
list1.insert(4,"Ballboy")
list1

[23, 45.0, 90, None, 'Ballboy', True, [46, 89, 'Name'], 'Hello', (34, 45)]

In [239]:
list1.extend((1,2.3,"Home"))
list1

[23,
 45.0,
 90,
 None,
 'Ballboy',
 True,
 [46, 89, 'Name'],
 'Hello',
 (34, 45),
 1,
 2.3,
 'Home']

In [241]:

list2 = list1 + ["Dream",33,9.1]
list2

[23,
 45.0,
 90,
 None,
 'Ballboy',
 True,
 [46, 89, 'Name'],
 'Hello',
 (34, 45),
 1,
 2.3,
 'Home',
 'Dream',
 33,
 9.1]

<center><h1><i><u> DICTIONARY TUTORIAL </u></i></h1></center>

In [156]:
# DICTIONARY Tutorial

dict1 = {"John" : "john@abc.com", "Kelly" : "kelly@xyz.com", "Mark" : "no email provided"}
print(dict1)

{'John': 'john@abc.com', 'Kelly': 'kelly@xyz.com', 'Mark': 'no email provided'}

In [137]:
print(dict1.keys())
print(dict1.values())

dict_keys(['John', 'Kelly', 'Mark'])
dict_values(['john@abc.com', 'kelly@xyz.com', 'no email provided'])

In [138]:
dict1["John"]

'john@abc.com'

In [157]:
dict1.update({"Mark":"mark@jkl.com"})
dict1

{'John': 'john@abc.com', 'Kelly': 'kelly@xyz.com', 'Mark': 'mark@jkl.com'}

In [158]:
dict1["John"]="johnny@abc.com"
dict1

{'John': 'johnny@abc.com', 'Kelly': 'kelly@xyz.com', 'Mark': 'mark@jkl.com'}

In [159]:
dict1.update({"Jolie":"jolie@pqr.com"})
dict1

{'John': 'johnny@abc.com',
 'Kelly': 'kelly@xyz.com',
 'Mark': 'mark@jkl.com',
 'Jolie': 'jolie@pqr.com'}

In [160]:
del dict1["Mark"] #to delete enire dict: del dict1
dict1

{'John': 'johnny@abc.com', 'Kelly': 'kelly@xyz.com', 'Jolie': 'jolie@pqr.com'}

In [161]:
dict1.pop("John")
dict1

{'Kelly': 'kelly@xyz.com', 'Jolie': 'jolie@pqr.com'}

<center><h1><i><u> SET TUTORIAL </u></i></h1></center>

In [184]:
set2 = set(["GM","Toyota","GM","Bajaj","Lamborghini","Toyota","Ford","Audi"])
set2

{'Audi', 'Bajaj', 'Ford', 'GM', 'Lamborghini', 'Toyota'}

In [185]:
set3 = {"Maruti","Toyota","Bajaj","Tata","Hyundai"}
set3

{'Bajaj', 'Hyundai', 'Maruti', 'Tata', 'Toyota'}

In [191]:
set_union = set2 | set3 #union of sets
set_union

{'Audi',
 'Bajaj',
 'Ford',
 'GM',
 'Hyundai',
 'Lamborghini',
 'Maruti',
 'Tata',
 'Toyota'}

In [194]:
set_int = set2 & set3 #intersection of sets
set_int

{'Bajaj', 'Toyota'}

In [195]:
set4 = set_int
set4.add("Jeep")
set4

{'Bajaj', 'Jeep', 'Toyota'}

In [193]:
set5 = set_union
set5.remove("GM")
set5

{'Audi', 'Bajaj', 'Ford', 'Hyundai', 'Lamborghini', 'Maruti', 'Tata', 'Toyota'}

<center><h2> "in" - Operator </h2></center>

In [199]:
word = "encyclopedia"
print("t" in word)
print("i" in word)

False
True

In [242]:
print("Hello"in list1)
print("Dream"in list1)

True
False

In [221]:
list2 = [1,2,3,4,5,6,7,8,9,10]
print(bool(0 and 2 in list2))
print((18 in list2 and 2 in list2))

False
False

<h2><center>* - Operator</center></h2>

In [220]:
word="Hello "*5
word

'Hello Hello Hello Hello Hello '

In [227]:
#list1*3, tuple1*5 can be done, not set1 or dict1

<h1><u><i><center> Functions </center></i></u></h1>

In [252]:
def sum2(num1, num2):
    return num1+num2
x1 = 23
y1 = 46
print("sum is: ", sum2(x1,y1))

enter two numbers: 12 23

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [258]:
def sumtoend(startval,endval):
    i = 0
    for j in range(startval,endval+1,1):
        i = i+j
    return i
x = 10
y=100
print("sum of numbers from ", x, " to ", y, " is: ", sumtoend(x,y))

sum of numbers from  10  to  100  is:  5005

<h2><center>Enumerate </center></h2>

In [264]:
list3 = [10,20,30,40,50,60]
print("The list is: ")
for pos, val in enumerate(list3):
    print(pos+1,": ",val)

The list is:
1 :  10
2 :  20
3 :  30
4 :  40
5 :  50
6 :  60

In [294]:
dict3 = dict((val1,pos1) for pos1,val1 in enumerate(list3))
dict3

{10: 0, 20: 1, 30: 2, 40: 3, 50: 4, 60: 5}

In [274]:
dict4 = {"001":"abcd", "002":"efgh", "003":"hijk"}
print("The dictionary is: ")
for pos, val in enumerate(dict4):
    print(val,": ",dict4[val], " AT POS.: ",pos+1)

The dictionary is:
001 :  abcd  AT POS.:  1
002 :  efgh  AT POS.:  2
003 :  hijk  AT POS.:  3

<h2><center>Sorted</center></h2>

In [282]:
sorted([91,43,65,56,7,33,21],reverse=True)

[91, 65, 56, 43, 33, 21, 7]

In [293]:
sorted("the data science") #reverse=False by default

[' ',
 ' ',
 'a',
 'a',
 'c',
 'c',
 'd',
 'e',
 'e',
 'e',
 'h',
 'i',
 'n',
 's',
 't',
 't']

In [296]:
sorted(["TacoBell","McDonalds","KFC"])

['KFC', 'McDonalds', 'TacoBell']

<h2><center>Reversed</center></h2>

In [309]:
num_list=[91,43,65,56,7,33,21]
list(reversed(num_list)) #reverses the list

[21, 33, 7, 56, 65, 43, 91]

<h2><center>Zip</center></h2>

In [302]:
subjects = ["Maths","Science","English"]
marks = [95,87,79]
list(zip(subjects,marks))

[('Maths', 95), ('Science', 87), ('English', 79)]